@font-face {
    font-family: "customcsfont";
    src: url("offensive-regular-all-caps.otf.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --GOfont : "customcsfont";
}

body {
    margin: 0px;
}

p {
    margin: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px;
    margin-left: 50px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    background: #d47400;
    background: radial-gradient(circle, rgba(212, 116, 0, 1) 0%, rgba(247, 229, 27, 1) 0%, rgba(212, 116, 0, 1) 100%);
    width: 600px;
    height: 600px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}


/* TEXTO DEL GO */
.background > div:nth-child(2){
    margin-top: 100px;
}

.gotext {
    display: flex;
    width: 320px;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
        margin-left: 20px;
        margin-top: 30px;
        letter-spacing: 15px;
        font-size: 110px;
        font-family: var(--GOfont);
    }
}

/* --------------- MODELO DEL CT -------------------*/
.model {
    display: flex;
    padding: 0px;
    background-color: red;
    width: 200px;
    height: 450px;
    flex-direction: column;
    justify-content: center;

    .head {
        display: block;
        width: 100%;
        height: 100px;
        margin-left: 20px;
        padding: 0;
        list-style-position: inside;

        padding-left: 60px;
        margin-bottom: 35px;

        li {
            margin: 0;
            padding: 0;
            line-height: 0;
            height: 0;
        }

        li::marker{
            font-size: 175px;
        }
    }

    .torso {
        width: 100px;
        height: 100px;
        background: black;
        border-radius: 27% 73% 14% 10% / 40% 59% 42% 34%;
        margin-left: 60px;
        margin-top: -105px;
    }

    .belt {
        margin-top: -30px;
        margin-left: 15px;
        height: 75px;
        width: 160px;
        background: black;
        clip-path: polygon(82.16% 94.43%, 86.1% 100%, 89.04% 100%, 93.16% 94.43%, 96.82% 64.22%, 94.96% 32.51%, 90.91% 25.82%, 70.42% 17.41%, 33.36% 2.19%, 17.41% 2.19%, 17.92% 10.07%, 18.18% 19.78%, 18.43% 29.49%, 16.99% 40.9%, 15% 51.52%, 16.79% 57.14%);
    }

    .legs {
        display: flex;
        width: 100%;
        height: 200px;
        background: green;
        flex-direction: column;
        margin-left: 20px;

        .top{
            display: flex;
            flex-direction: row;
            align-items: center;

            .topleft{
                width: 100px;
                height: 140px;
                margin-left: 15px;
                margin-top: -35px;
                background-color: black;
                clip-path: polygon(14.34% 73.41%, 16.79% 83.21%, 13.36% 100%, 51% 100%, 66.75% 47.54%, 66.75% 6.54%, 61.95% 1.79%, 33.79% 0%, 16.79% 6.54%, 13.39% 12.97%, 16.79% 56.74%, 14.65% 64.94%);
            }

            .topright{
                width: 90px;
                height: 140px;
                margin-left: -50px;
                margin-top: -25px;
                background-color: black;
                clip-path: polygon(96.32% 72.44%, 86.04% 49.72%, 67.96% 21.57%, 63.46% 17.08%, 54.1% 0%, 0.75% 0%, 3.17% 25.88%, 7.31% 34.85%, 14.96% 39.99%, 42.71% 93.19%, 49.06% 97.11%, 99.98% 97.11%);
            }
        }
    }
}




