@font-face {
    font-family: "customcsfont";
    src: url("offensive-regular-all-caps.otf.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --GOfont: "customcsfont";
}

body {
    margin: 0px;
}

p {
    margin: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px;
    margin-left: 50px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    background: #d47400;
    background: radial-gradient(circle, rgba(212, 116, 0, 1) 0%, rgba(247, 229, 27, 1) 0%, rgba(212, 116, 0, 1) 90%);
    width: 600px;
    height: 600px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}


/* TEXTO DEL GO */
.background>div:nth-child(2) {
    margin-top: 100px;
}

.gotext {
    display: flex;
    width: 320px;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
        margin-left: 20px;
        margin-top: 30px;
        letter-spacing: 15px;
        font-size: 110px;
        font-family: var(--GOfont);
    }
}

/* --------------- MODELO DEL CT -------------------*/

.model>* {
    background-color: black;
}

.model {
    display: flex;
    width: 200px;
    height: 450px;
    flex-direction: column;
    justify-content: center;

    .head {
        background-color: transparent;
        display: block;
        width: 100%;
        height: 100px;
        margin-left: 20px;
        padding: 0;
        list-style-position: inside;

        padding-left: 55px;
        padding-bottom: 5px;

        li {
            margin: 0;
            padding: 0;
            line-height: 0;
            height: 0;
        }

        li::marker {
            font-size: 175px;
        }
    }

    .upperBody {
        display: flex;
        width: 320px;
        height: 120px;
        background-color: yellow;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: -70px;

        .torso {
            background-color: black;
            width: 100px;
            height: 120px;
            border-radius: 27% 73% 14% 10% / 40% 59% 42% 34%;
            margin-left: 60px;
            margin-top: -20px;
        }

        .weapon {
            background-color: red;
            width: 160px;
            height: 30px;
            margin-left: 140px;
            margin-top: -215px;
        }

        .arms {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            width: 250px;
            height: 60px;
            margin-top: 15px;

            .rightArm {
                background-color: black;
                width: 70px;
                height: 40px;
                margin-left: 125px;
                margin-top: -300px;
                clip-path: polygon(43.04% 100%, 71.11% 95.19%, 77.26% 88.67%, 82.39% 74.24%, 83.53% 59.81%, 84.86% 50.15%, 88.29% 42.23%, 45% 2.75%, 21.43% 0%, 13.43% 0%, 0% 2.79%, 0% 70.71%, 0% 100%);
            }

            .leftArm {
                background-color: black;
                width: 105px;
                height: 70px;
                margin-left: 130px;
                margin-top: -180px;
                clip-path: polygon(54.28% 100%, 62.37% 95.67%, 72.67% 79.54%, 75.51% 70.62%, 78.88% 47.87%, 80.51% 46.33%, 85.06% 45.68%, 85.99% 43%, 83.87% 32.08%, 84.63% 21.44%, 97.3% 11.98%, 100% 0%, 49.66% 0%, 59.73% 10.72%, 63.82% 20.03%, 59.73% 36.19%, 48.99% 48.93%, 46.14% 49.11%, 37.56% 34.94%, 31.29% 19.61%, 0% 10%, 0% 29.92%, 0% 81.51%, 29.29% 94.67%);
            }
        }
    }

    .belt {
        margin-top: -60px;
        margin-left: 20px;
        height: 75px;
        width: 155px;
        clip-path: polygon(82.16% 94.43%, 88.8% 98%, 89.04% 97%, 93.16% 94.43%, 96.82% 64.22%, 94.96% 32.51%, 90.91% 25.82%, 70.42% 17.41%, 33.36% 2.19%, 18.41% 2.19%, 18.2% 10.07%, 18.4% 19.78%, 18% 29.49%, 17.5% 40.9%, 17.2% 51.52%, 18% 57.14%);
    }

    .legs>*>* {
        background-color: black;
    }

    .legs {
        display: flex;
        width: 100%;
        height: 200px;
        flex-direction: column;
        margin-left: 25px;
        background-color: transparent;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;

            .topleft {
                width: 100px;
                height: 120px;
                margin-left: 15px;
                margin-top: -35px;
                clip-path: polygon(14.34% 73.41%, 16.79% 83.21%, 13.36% 100%, 51% 100%, 66.75% 47.54%, 66.75% 6.54%, 61.95% 1.79%, 25.79% 0%, 20.79% 4.54%, 17.39% 12.97%, 16.79% 56.74%, 14.65% 64.94%);
            }

            .topright {
                width: 80px;
                height: 120px;
                margin-left: -40px;
                margin-top: -25px;
                clip-path: polygon(96.32% 72.44%, 86.04% 49.72%, 62% 26.57%, 60.1% 0%, 0.75% 0%, 2% 30.88%, 3% 55%, 14.96% 60%, 50.71% 93.19%, 60.06% 97.11%, 99.98% 97.11%);
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;

            .botleft {
                width: 65px;
                height: 85px;
                margin-top: -12px;
                margin-left: 6px;
                clip-path: polygon(73.25% 34.61%, 78.89% 20.91%, 90% 11.29%, 92% 5%, 89.25% 0%, 36.52% 0%, 23.31% 17.71%, 16.67% 33.73%, 11.91% 46.19%, 11.91% 56.92%, 8.52% 67.31%, 4.69% 77.16%, 3.47% 88.1%, 10% 100%, 50.81% 100%, 70.25% 64%, 71.3% 49.3%);
            }

            .botright {
                width: 50px;
                height: 85px;
                margin-top: -10px;
                margin-left: 47px;
                clip-path: polygon(9.19% 65.79%, 17.04% 88.86%, 23.73% 100%, 82.75% 100%, 90.7% 88.86%, 90.7% 75.83%, 85.95% 58.53%, 87.88% 33.49%, 83.39% 12.22%, 70.71% 0%, 13.79% 0%, 17.04% 10.77%, 17.04% 32.69%, 9.19% 41.89%);
            }
        }

        .feet {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: transparent;

            .rightFoot {
                background-color: black;
                width: 62px;
                height: 50px;
                margin-top: -15px;
                margin-left: 80px;
                clip-path: polygon(25.37% 100%, 35.1% 98.82%, 44.99% 99%, 54.5% 100%, 96% 100%, 99.75% 87.62%, 95.73% 83.78%, 64.64% 75.29%, 49.18% 52.1%, 57.35% 0%, 8.04% 0%, 8.04% 49.96%, 5.75% 59.21%, 3% 96.87%, 5.75% 99%);
            }

            .leftFoot {
                width: 45px;
                height: 50px;
                background-color: black;
                margin-top: -5px;
                clip-path: polygon(80.26% 86.97%, 80.26% 77.32%, 74.51% 51.65%, 81.25% 16.49%, 88.96% 0%, 30.79% 0%, 21.5% 51.65%, 13.13% 77.32%, 17.75% 92.51%, 34.75% 93.51%, 62% 93.51%, 77.42% 92.51%);
            }
        }
    }
}
